<a class="btn btn-lg btn-primary" role ="button"
	<%= link_to 'Nova Categoria', new_category_path %>
</a>
<br>
<br>
<div class="panel panel-default">
	<div class="panel-heading">Lista de Categorias</div>
		<table class="table">
			<thead>
				<tr>
					<th>Código</th>
					<th>Nome</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<% @categories.each do |category| %>	
				<tr>
					<th scope="row"><%= category.id %></th>
					<td><%= category.name %></td>
					<td>???</td>
					<td>
						<%= link_to 'Visualizar', category_path(category.id) %>
					</td>
				</tr>
				<% end %>
		</tbody>
	</table>
</div>